.controllerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.customSpeedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.presetButtonsWrapper {
  display: flex;
  gap: 8px;
}

.buttonInstructionWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.customSpeedInput {
  width: 50px;
  text-align: center;
}
