.controllerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customSpeedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.presetButtonsWrapper {
  display: "flex";
  gap: 8px;
}
